/* body{
    background: #342f5b;
} */
.container {
  background: #342f5b;
}
input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.search {
  width: 35%;
  height: 25px;
  margin: 0 auto;
}
.search input {
  width: 100%;
}
.todos {
  width: 35%;
}
.todos li {
  background: #423a6f;
  color: #fff;
}
.delete {
  cursor: pointer;
}
label {
  color: #fff;
}
.filtered {
  display: none !important;
}
